<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PRODUCT_UPDATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="updateProduct()">
    <ion-list>
      <ion-item>
        <ion-input type="text" formControlName="id" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'PRODUCT_NAME_PLACEHOLDER' | translate }}" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'PRODUCT_DESC_PLACEHOLDER' | translate }}" formControlName="description" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="url" placeholder="{{ 'PRODUCT_IMAGE1_PLACEHOLDER' | translate }}" formControlName="image1" required></ion-input>
        </ion-item>
      <ion-item>
        <ion-input type="url" placeholder="{{ 'PRODUCT_IMAGE2_PLACEHOLDER' | translate }}" formControlName="image2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="url" placeholder="{{ 'PRODUCT_IMAGE3_PLACEHOLDER' | translate }}" formControlName="image3"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>{{ 'PRODUCT_SIZE' | translate }}</ion-label>
          <ion-select formControlName="size" required>
            <ion-option value="70">70 ml</ion-option>
            <ion-option value="100">100 ml</ion-option>
            <ion-option value="150">150 ml</ion-option>
            <ion-option value="250">250 ml</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'ACTIVE_PRINCIPLE' | translate }}</ion-label>
        <ion-select formControlName="activePrincipleId" required>
          <ion-option *ngFor="let activePrinciple of activePrinciples" [value]="activePrinciple.id">{{activePrinciple.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>